@()

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Main page of simple books crud app based on play framework 2", null) {

    <h3>Available urls:</h3>
    <ul>
        <li><pre>GET           /books                    get list of books</pre></li>
        <li><pre>GET           /books/:id                get book by id</pre></li>
        <li><pre>POST          /books                    create book</pre></li>
        <li><pre>PUT           /books/:id                update book</pre></li>
        <li><pre>DELETE        /books/:id                remove book</pre></li>
        <li><pre>GET           /books/:id/details        get details from book by id</pre></li>
    </ul>
}
